<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.datasource">jdbc/SPP_PORTALDS</property>
		<property name="show_sql">false</property>
		<property name="current_session_context_class">thread</property>
		<property name="dialect">org.hibernate.dialect.OracleDialect</property>
		<property name="query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
		<property name="jdbc.batch_size">0</property>
		<mapping resource="com/hp/spp/groups/Site.hbm.xml"/>
		<mapping resource="com/hp/spp/groups/Group.hbm.xml"/>
		<mapping resource="com/hp/spp/eservice/Site.hbm.xml"/>
		<mapping resource="com/hp/spp/eservice/EService.hbm.xml"/>
		<mapping resource="com/hp/spp/eservice/StandardParameterSet.hbm.xml"/>
		<mapping resource="com/hp/spp/eservice/Parameter.hbm.xml"/>
		<mapping resource="com/hp/spp/common/ResourceHistory.hbm.xml"/>
		<mapping resource="com/hp/spp/reports/hppreport/HPPGroup.hbm.xml"/>
		<mapping resource="com/hp/spp/reports/hppreport/User.hbm.xml"/>
	</session-factory>
</hibernate-configuration>