<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "/WEB-INF/dtd/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="R" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/opt/sasuapps/sp/logs/sessionCleanup/portlet-apps.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="3" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM/dd/yyyy HH:mm:ss} %5p (%c)  - %m%n" />
		</layout>
	</appender>

	<category name="com.hp.it.sessionCleanup.web.controller" additivity="false">
		<priority value="debug" />
		<appender-ref ref="R" />
	</category>

	<root>
		<level value ="none"/>
	</root>
</log4j:configuration>