
/* HP.com style attributes that are overriden */

.pageLayoutWide #tabbedNavEnhanced {
	width:974px;
}

#tabbedNavEnhanced {
	margin: 10px 0 0 0;		/* top margin only */
	width:750px;
}

/* Enhanced callout element (portletless chrome) */

.calloutEnhancedExt {
	background: #E7E7E7;
	padding: 15px;
}

.calloutEnhancedExt .contentBlock {
	margin: 0;
}

/* This style fixes stretch logo below positioning at middle of page
   with korean and japanese locales. */

#localeSelectorContainer {
    height: 100%;
}

/* Horizontal navigation styles */

#tabbedNavEnhanced .tab {
	min-width: 0%;			/* hp.com sets it to 20%, which is too wide.  */
									/* use paddings to control width */
	padding-left: 25px;
	padding-right: 25px;
}

.pageLayoutWide #horzNavButtonBar {
	width:974px;
}

#horzNavButtonBar {
	margin-bottom: 5px;
    padding: 0;
	width:750px;
}

.horzNavButton {
	float:left;
	font-color: #FFFFFF;
	font-size:12px;
	min-width:90px;
	padding: 0;
	text-align:center;
	text-decoration: none;
}

#horzNavHelpButton{
	float: right;
	font-color: #FFFFFF;
	font-size:12px;
	min-width:90px;
	padding-right: 10px;
	text-align:right;
	text-decoration: none;
}

.horzNavButton a.topMenuItem {
	color: #FFFFFF;
	display:block;
	padding: 6px 10px;
	text-decoration: none;
}

#horzNavHelpButton a.topMenuItem {
	color: #FFFFFF;
	display:block;
	padding: 6px 10px;
	text-decoration: none;
}

#horzNavHelpButton a.topMenuItem:hover {
	text-decoration: underline;
}

.horzNavButton a.topMenuItem.menuNormal {
	color: #FFFFFF;
}

.horzNavButton a.topMenuItem.active {
	color: #003366;
}

.horzNavButton a.topMenuItem.menuHover {
	background-color: #FFFFFF;
	color: #003366;
}

/* secondary nav button that has no flyout menu */

.horzNavButton a.topMenuItem.noFlyout.active {		
    background-color: #FFFFFF;
    color: #003366;
    text-decoration: underline;
}

.horzNavButton a.topMenuItem.noFlyout:hover {
    background-color: #FFFFFF;
    color: #003366;
    text-decoration: underline;
}

.horzNavButton div.menuNormal {		/* flyout menu div */
	display: none;
	position: static;
}

.horzNavButton div.menuHover		/* mouse hover over flyout menu div */
{
	background-color: #FFFFFF;
	border-color: #000000;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	display: block;
	position: absolute;
	margin: 0 0 0 -2px;
}

.horzNavFlyoutMenu {
	padding-top: 3px;		/* extra padding at top of flyout menu */
	padding-bottom: 3px;	/* extra padding at bottom of flyout menu */
	z-index: 10;
}

.horzNavButton a.dropMenuItem {
    display: block;
	font-size: small;
    padding: 1px 10px;
	text-align: left;
	text-decoration: none;
    white-space: nowrap;
}

.horzNavButton a.dropMenuItem:link {
	background-color: #FFFFFF;
	color: #003366;
}

.horzNavButton a.dropMenuItem:visited {
	background-color: #FFFFFF;
	color: #660066;
}

.horzNavButton a.dropMenuItem:hover {
	background-color: #CCCCCC;
}

#horzNavButtonBarBackground {
	padding: 6px 0;
}

/* Portlet chrome style properties */

#introBlock {
	margin: 0;
}

#nonIntroBlock .headerAlpha,
#nonIntroBlock .headerBeta,
#nonIntroBlock .headerBetaBevel {
	margin: 0;
}

#headerAlphaBoundingBox .contentBlock,
#headerBetaBoundingBox .contentBlock,
#headerBetaBevelBoundingBox .contentBlock {
	margin: 0;
}

#headerAlphaBoundingBox,
#headerBetaBoundingBox,
#headerBetaBevelBoundingBox {
	border-color:#CCCCCC #CCCCCC;
	border-style:none solid solid;
	border-width:medium 1px 1px;
	margin:0;
	padding:10px;
}
