<?xml version="1.0" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- Abstract Default Exception Handler Bean -->
	<bean id="defaultExceptionHandlerTemplate"
		class="org.springframework.web.portlet.handler.SimpleMappingExceptionResolver"
		abstract="true">
		<property name="defaultErrorView" value="defError" />
		<property name="exceptionMappings">
			<props>
				<prop key="javax.portlet.PortletSecurityException">
					notAuthorized
				</prop>
				<prop key="javax.portlet.UnavailableException">
					notAvailable
				</prop>
			</props>
		</property>
	</bean>
	
	
	<!-- Abstract Default Exception Handler tetmplate for HPP reports -->
		<bean id="defaultReportExceptionHandlerTemplate"
			class="org.springframework.web.portlet.handler.SimpleMappingExceptionResolver"
			abstract="true">
			<property name="defaultErrorView" value="defReportError" />
			<!-- <property name="exceptionMappings">
				<props>
					<prop key="javax.portlet.PortletSecurityException">
						notAuthorized
					</prop>
					<prop key="javax.portlet.UnavailableException">
						notAvailable
					</prop>
					<prop key="java.lang.IllegalArgumentException">
						notAuthorized
					</prop>
				</props>
			</property> -->
	</bean>

	<!-- Abstract Default Exception Handler tetmplate for User ageing reports -->
		<bean id="defaultUserAgeReportExceptionHandlerTemplate"
			class="org.springframework.web.portlet.handler.SimpleMappingExceptionResolver"
			abstract="true">
			<property name="defaultErrorView" value="defUserAgeReportError" />
		</bean>

	<bean id="portletNameInterceptor"
		class="org.springframework.web.portlet.sample.PortletNameInterceptor" />

	
</beans>