<settings xmlns="http://maven.apache.org/POM/4.0.0"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>SPP</id>
		</server>
	</servers>
	<proxies>
		<proxy>
			<active>true</active>
			<protocol>http</protocol>
			<host>web-proxy.corp.hp.com</host>
			<port>8088</port>
		</proxy>
	</proxies>
	<profiles>
		<profile>
			<id>SPP</id>
			<properties>
				<!--
				Put here the path pointing to spp-repository module you retrieved from CVS
				-->
				<spp.repository.url>file:///c:/home/hp/projects/SPP/dev/spp-repository</spp.repository.url>
			</properties>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>SPP</activeProfile>
	</activeProfiles>
</settings>
