
# Rename this file to .acccess_script.rc and either keep it in this directory or copy it to a location
# present in your $PATH

function run_cmd_in_term_with_bg_if_needed {

    # If we run a command there is no need to open customized terminal. 
    # We run a command if this function is invoked with more than 3 parameters, i.e. ssh -t host COMMAND
    # (3 => ssh -t host)
    if [ $# -gt 3 ]; then
        "$@"
        exit $?
    fi

    # If we get here it means we are not running a command but may want to open customized
    # terminal.
    # Customize the terminal appearance based on script_name.
    # In general the terminal command should allow to specify background (and other UI customizations if 
    # desired) and execute a set of commands, as in the example below.
    script_name="$0"
    if [[ "${script_name}" =~ "-pro-" ]]; then
        my_favorite_terminal -background_arg background_color -execute "echo \"${VITALS_MESSAGE}\" && $*" &    
#    elif
#        ...
    else
        echo "${VITALS_MESSAGE}"
        "$@"
    fi
}

# 'run_access_script' is a shell variable that should contain the name of the command/function
# to be used to run the actual command.
# Here we use the name of the function defined above.
run_access_script=run_cmd_in_term_with_bg_if_needed

