# Filename: ContainerJMSConfig.properties
#
# If you enabled the JMSCacheCoordinator in the JPA configuration file (persistence.xml),
# you should define the weblogic user name and password here, so that JMSCacheCoordinator
# can connect to the JMS servers.
#
# For example:
#
#       UserName=weblogic
#       Password=weblogic
#
#
##### ADD YOUR CONFIGURATION BELOW #####
UserName=
Password=