############################################################
# Filename: openportal_logging.properties
#
# This file is a template for the logger configuration for the
# OpenPortal application.
#
# Only one property needs to be set, and points to your log file.
#
# For example:
#
#       java.util.logging.FileHandler.pattern = /opt/sasuapps/sp/OpenPortal/logs/java.log
#
#
##### ADD YOUR CONFIGURATION BELOW #####
handlers=java.util.logging.FileHandler
.level=INFO

java.util.logging.FileHandler.pattern = 
java.util.logging.FileHandler.limit = 10000000
java.util.logging.FileHandler.count = 25
#java.util.logging.FileHandler.formatter = java.util.logging.SimpleFormatter
# Use SPF formatter to include diagnostic ID in the log files
java.util.logging.FileHandler.formatter = com.hp.it.spf.openportal.log.SimpleLogFormatter

java.util.logging.ConsoleHandler.level=INFO
#java.util.logging.ConsoleHandler.formatter = java.util.logging.SimpleFormatter
# Use SPF formatter to include diagnostic ID in the log files
java.util.logging.ConsoleHandler.formatter = com.hp.it.spf.openportal.log.SimpleLogFormatter

javax.management.level=INFO
javax.management.remote.level=INFO

# javax.xml.level=FINER
# javax.jws.level=FINER
