<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
	<display-name>spp-services-web</display-name>
	
	<!-- Spring MVC Portlet -->
	<context-param>
	   <param-name>contextConfigLocation</param-name>
	   <param-value>/WEB-INF/context/applicationContext.xml</param-value>
	</context-param>
	<!-- End of Spring MVC Portlet -->
	<context-param>
		<param-name>http.nonProxyHosts</param-name>
		<param-value>localhost|127.0.0.1</param-value>
	</context-param>
	
	<!-- filter -->
	<filter>
		<filter-name>HibernateSessionFilter</filter-name>
		<display-name>HibernateSessionFilter</display-name>
		<filter-class>
			com.hp.spp.common.util.hibernate.HibernateSessionFilter</filter-class>
	</filter>
	<filter>
		<filter-name>UrlAccessFilter</filter-name>
		<filter-class>com.hp.spp.filters.access.UrlAccessFilter</filter-class>
		<init-param>
			<param-name>RuleSetName</param-name>
			<param-value>wsrp</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>StandaloneTestFilter</filter-name>
		<filter-class>com.hp.spp.wsrp.test.StandaloneTestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlAccessFilter</filter-name>
		<url-pattern>/jsp/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>HibernateSessionFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>HibernateSessionFilter</filter-name>
		<servlet-name>GroupInitServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>HibernateSessionFilter</filter-name>
		<url-pattern>services/*</url-pattern>
	</filter-mapping>
	<!-- 
	<filter-mapping>
		<filter-name>HibernateSessionFilter</filter-name>
		<url-pattern>Groups/*</url-pattern>
	</filter-mapping>
	-->
	<filter-mapping>
		<filter-name>StandaloneTestFilter</filter-name>
		<servlet-name>pluto</servlet-name>
	</filter-mapping>

	
	<listener>
		<listener-class>com.hp.spp.ServicesContextListener</listener-class>
	</listener>

	<!-- Spring MVC Portlet -->
	 <listener>
	   <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- End of Spring MVC Portlet -->

	
	<!-- General Servlets -->

	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-class>
			org.apache.axis.transport.http.AxisServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>WSRP4JProducer</servlet-name>
		<servlet-class> org.apache.axis.transport.http.AxisServlet
			</servlet-class>
	</servlet>
	
	<!-- Servlets for monitoring -->
	<servlet>
		<servlet-name>JMSMonitoringServlet</servlet-name>
		<display-name>JMSMonitoringServlet</display-name>
		<servlet-class>com.hp.spp.servlets.monitoring.JMSMonitoringServlet</servlet-class>
	</servlet>
	
	<!-- Cache Control Servlet -->
	<servlet>
		<servlet-name>CacheNotificationServlet</servlet-name>
		<servlet-class>com.hp.spp.cache.CacheNotificationServlet</servlet-class>
	</servlet>

	<!-- Servlets for Portlets -->
	<!-- SPP Test Portlet -->
	<servlet>
		<servlet-name>SPPTestContentPortlet</servlet-name>
		<display-name>SPPTestContentPortlet</display-name>
		<servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.hp.spp.portlets.test.SPPTestContentPortlet</param-value>
		</init-param>
		<init-param>
			<param-name>portlet-guid</param-name>
			<param-value>spp-services-web.SPPTestContentPortlet</param-value>
		</init-param>
	</servlet>
	<!--End SPP Test Portlet -->

	<!-- Userageing servlet mapping -->
	  <servlet>
	  <servlet-name>ageingReportServlet</servlet-name>  
	   <servlet-class>com.hp.spp.portlets.reports.userageing.servlet.AgeingReportServlet</servlet-class>
	   <load-on-startup>2</load-on-startup>
	  </servlet>

	<!-- Spring MVC Portlet Servlet -->
		<!--Start  User Ageing report definition  -->
	<servlet>
		<servlet-name>AgeingReport</servlet-name>
		<servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>
				org.apache.portals.bridges.portletfilter.FilterPortlet</param-value>
		</init-param>
		<init-param>
			<param-name>portlet-guid</param-name>
			<param-value>spp-services-web.AgeingReport</param-value>
		</init-param>
	</servlet>
   <!-- End user ageing report defintion -->

	<servlet>
		<servlet-name>Groups</servlet-name>
		<servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>
				org.apache.portals.bridges.portletfilter.FilterPortlet</param-value>
		</init-param>
		<init-param>
			<param-name>portlet-guid</param-name>
			<param-value>spp-services-web.Groups</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>EServicesMgt</servlet-name>
		<servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>
				org.apache.portals.bridges.portletfilter.FilterPortlet</param-value>
		</init-param>
		<init-param>
			<param-name>portlet-guid</param-name>
			<param-value>spp-services-web.EServicesMgt</param-value>
		</init-param>
	</servlet>

	<servlet>
	   <servlet-name>ViewRendererServlet</servlet-name>
	   <servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>
	   <load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- HPP Report Portlet -->
	<servlet>
	   <servlet-name>HppReport</servlet-name>
	   <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
	   <init-param>
	      <param-name>portlet-class</param-name>
	      <param-value> org.apache.portals.bridges.portletfilter.FilterPortlet</param-value>
	   </init-param>
	   <init-param>
	      <param-name>portlet-guid</param-name>
	      <param-value>spp-services-web.HppReport</param-value>
	   </init-param>
	 </servlet>
	 
	<!-- End of Spring MVC Portlet Servlet -->

	<!-- Monitoring Servlet -->
	<servlet>
		<servlet-name>DatabaseMonitoringServlet</servlet-name>
		<display-name>DatabaseMonitoringServlet</display-name>
		<servlet-class>com.hp.spp.webservice.monitoring.DatabaseMonitoringServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MonitoringServlet</servlet-name>
		<display-name>MonitoringServlet</display-name>
		<servlet-class>com.hp.spp.webservice.monitoring.MonitoringServlet</servlet-class>
	</servlet>
	<!-- End of Monitoring Servlet -->

    <!-- Pluto Portal servlet used for testing -->
    <servlet>
        <servlet-name>pluto</servlet-name>
        <display-name>Pluto Driver</display-name>
        <servlet-class>com.hp.frameworks.wpa.pluto.portalImpl.Servlet</servlet-class>
        <!-- Uncomment the following to allow for non latin-1 character sets in output. -->
        <init-param>
            <param-name>charset</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </servlet>

	<!-- Mapping for General Servlet -->
	<!-- SPP Test Content Portlet mapping -->
	<servlet-mapping>
	      <servlet-name>SPPTestContentPortlet</servlet-name>
	      <url-pattern>/SPPTestContentPortlet/*</url-pattern>
	</servlet-mapping>

	<!-- SPP Test Content Portlet mapping end -->


	
	<!-- HPP report Portlet -->
	<servlet-mapping>
	      <servlet-name>HppReport</servlet-name>
	      <url-pattern>/HppReport/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WSRP4JProducer</servlet-name>
		<url-pattern>/WSRP4JProducer/*</url-pattern>
	</servlet-mapping>

	<!-- To have correct axis wsdl links -->
	<servlet-mapping>
		<servlet-name>WSRP4JProducer</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<!-- Mapping for monitoring servlets -->
	<servlet-mapping>
		<servlet-name>JMSMonitoringServlet</servlet-name>
		<url-pattern>/monitoring/JMSMonitoringServlet</url-pattern>
	</servlet-mapping>

	<!-- Mapping for cache servlets -->
	<servlet-mapping>
		<servlet-name>CacheNotificationServlet</servlet-name>
		<url-pattern>/cache/CacheNotificationServlet</url-pattern>
	</servlet-mapping>
	
	<!-- Spring MVC Portlet -->
	<!-- 
	<servlet-mapping>
	   <servlet-name>Links</servlet-name>
	   <url-pattern>/Links/*</url-pattern>
	</servlet-mapping>
	-->
	
	<!-- Mapping for UserAgeing portlet's servlet class -->
	 <servlet-mapping>
	 <servlet-name>ageingReportServlet</servlet-name>
	 <url-pattern>/AgeingReportPage/*</url-pattern>
	 </servlet-mapping>



	<servlet-mapping>
	   <servlet-name>Groups</servlet-name>
	   <url-pattern>/Groups/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	   <servlet-name>EServicesMgt</servlet-name>
	   <url-pattern>/EServicesMgt/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	   <servlet-name>ViewRendererServlet</servlet-name>
	   <url-pattern>/WEB-INF/servlet/view</url-pattern>
	</servlet-mapping>
	
	<!-- Mapping for UserAgeing portlet's class -->
	<servlet-mapping>
	   <servlet-name>AgeingReport</servlet-name>
	   <url-pattern>/AgeingReport/*</url-pattern>
	</servlet-mapping>
	<!-- End of Spring MVC Portlet -->

	<!-- mapping for monitoring Servlet -->
	<servlet-mapping>
		<servlet-name>DatabaseMonitoringServlet</servlet-name>
		<url-pattern>/monitoring/DatabaseMonitoringServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MonitoringServlet</servlet-name>
		<url-pattern>/monitoring/MonitoringServlet</url-pattern>
	</servlet-mapping>
	<!-- end of mapping for monitoring Servlet -->

    <!-- Pluto Portal servlet used for testing -->
    <servlet-mapping>
        <servlet-name>pluto</servlet-name>
        <url-pattern>/pluto/*</url-pattern>
    </servlet-mapping>


	<!-- Mime Mapping -->
	<mime-mapping>
		<extension>wsdl</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	
	<mime-mapping>
		<extension>xsd</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	
	<!-- JSTL Descriptors -->
	<taglib>
		<taglib-uri>c.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>fmt.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
	</taglib>
	
	<!-- Ressource -->
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/wsrp4j</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	


</web-app>
